/* input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
} */

label {
  color: #666 !important;
  margin-top: 5px !important;
}

.number-field {
  width: 56px;
  text-align: center;
  border-style: none;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: middle;
}
