.number-field{
  width: 56px;
  /* height: 28px; */
  text-align: center;
  border-color: white;
  border-width: 1px;
  margin: 0px 10px;
  display: inline-block;
  vertical-align: middle;

}

.change-button{
  width: 32px;
  height: 32px;
}

